@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

/* Custom stylings */
.text-gradient {
  background-color: rgba(140,227,255,1);
  background-image: linear-gradient(146deg, #0DB2FF 0%, rgb(37, 192, 253) 100%);
  background-image: conic-gradient(146deg, #0DB2FF 0%, rgb(37, 192, 253) 100%);

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.gradient-bg { 
  background: linear-gradient(146deg, rgb(54, 195, 251) 0%, #0DB2FF 100%);
}
.gradient-box {
  background: linear-gradient(180deg, rgb(54, 195, 251) 0%, #0DB2FF 100%);
}
.black-gradient-bg {
  background: rgb(15,17,35);
  background: linear-gradient(117deg, rgba(15,17,35,1) 0%, rgba(94,96,108,1) 100%);
}
.blurry-bg {
  background: rgba(8, 8, 8, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 0.8;
}
.opacity-bg {
  background: rgba(8, 8, 8, 0.68);
}

/* white glassmorphism */
.white-glassmorphism {
  border-radius: 16px;
  background-color: #0f112381;
}

/* Custom Scroll */
::-webkit-scrollbar {
  width: 0.2em;
  height: 0.2em;
}

::-webkit-scrollbar-track {
  background: #0F1123;
}

::-webkit-scrollbar-thumb {
  background: #0DB2FF;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #32bbfa;
}

@supports (scrollbar-color: red blue) {
  *{
      scrollbar-width: thin;
      scrollbar-color: #0DB2FF #0F1123;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;